@font-face {
    font-family: 'DM Sans';
    src: url('DMSans_18pt-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans_18pt-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans_18pt-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}